<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target xsi:type="File" name="f"
            layout="${longdate} ${uppercase:${level}} ${message}"
            fileName="${basedir}/logs/log.txt"
            archiveFileName="${basedir}/logs/log.{#}.txt"
            archiveEvery="Hour"
            archiveNumbering="Rolling"
            maxArchiveFiles="6"
            concurrentWrites="true"
            keepFileOpen="false"
            encoding="utf-8"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="f" />
  </rules>
</nlog>